<html>

<head>
  <title>Dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <!-- For DataTables -->
  <script type="text/javascript" charset="utf8"
    src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>

	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
 
  <div class="limiter mt-2">
		<button class="btn btn-primary"><a href="logout" style="color:white">Back to Login</a></button>
		    <center>
	</div>

	<hr>

  <div class="container-fluid">
	<div class="row">
		<% response.forEach(output=> { %>
			<div className=' col-sm-2 card' style="margin-right: 0.2em; width:16em">
				<img class="card-img-top"  style="width: 100%; height:350px" src=<%= output.image%> alt="Card image cap" ></img>
					<div class="card-body">
							<h5 class="card-text">Name: <%= output.title %></h5>
							<p class="card-text">Rating:</p>
							<button href="/select" id="<%=output._id %>" class="btn btn-primary select ">View</button>
					</div>
			</div>
			<% }); %>
	</div>
  </div>
	
		<hr>	
      <!--===============================================================================================-->
      <script src="vendor/jquery/jquery-3.2.1.min.js"></script>
      <!--===============================================================================================-->
      <script src="vendor/animsition/js/animsition.min.js"></script>
      <!--===============================================================================================-->
      <script src="vendor/bootstrap/js/popper.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
      <!--===============================================================================================-->
      <script src="vendor/select2/select2.min.js"></script>
      <!--===============================================================================================-->
      <script src="vendor/daterangepicker/moment.min.js"></script>
      <script src="vendor/daterangepicker/daterangepicker.js"></script>
      <!--===============================================================================================-->
      <script src="vendor/countdowntime/countdowntime.js"></script>
      <!--===============================================================================================-->
      <script type="text/javascript" src="../js/action.js"></script>
</body>

</html>